/* ======[PC]======= */
@media screen and (min-width: 992px) {
    .header__wrapper--mb {
        display: none;
    }

    .about_info--topic {
        white-space: nowrap;
    }
}

@media screen and (max-width: 1096px) {
    .hero__wrapper {
        flex-direction: column;
        padding: 0 30px;
    }

    .hero__images {
        order: 2;
        margin: 71px auto 0;
    }

    .hero__info {
        order: 1;
        width: 100%;
        margin-top: 0;
    }

    .servicesB__inner--body {
        margin-top: 71px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .servicesB__inner--body-left,
    .servicesB__inner--body-center,
    .servicesB__inner--body-right {
        grid-column: 1;
    }

    .servicesB__inner--item-box {
        width: 100%;
        margin: auto;
    }

    .servicesB__inner--body-right .servicesB__inner--list {
        margin-top: 50px;
    }
}

/* ======[TABLET & MOBILE]======= */
@media screen and (max-width: 991.98px) {
    .navbar {
        display: none;
    }

    .header__wrapper {
        position: relative;
    }

    .header__icon-menu {
        width: 24px;
        color: var(--primary-color);
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero__wrapper {
        flex-direction: column;
        padding: 0 30px;
    }

    .hero__images {
        order: 2;
        margin: 71px auto 0;
    }

    .hero__vector-net {
        display: none;
    }

    .hero__info {
        order: 1;
        width: 100%;
        margin-top: 0;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }

    .menu-drawer {
        padding: 25px 40px;
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 6;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .navbar__list-mb {
        margin-top: 30px;
    }

    .navbar__list-mb .navbar__link {
        display: block;
        text-align: left;
        padding: 20px 0;
    }

    .about__inner {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .about__info {
        padding-right: 18px;
        width: 100%;
    }

    .about__img-wrapper {
        margin-left: -136px;
        width: 100%;
    }

    .about__images--box-info {
        margin-bottom: 35px;
    }

    .about__img--deco {
        display: none;
    }

    .services__inner {
        grid-template-columns: 1fr;
        margin-top: 549px;
    }

    .services__images {
        order: 2;
        width: 100%;
    }

    .services__info {
        order: 1;
        width: 100%;
    }

    /* .services__info--text {
        width: 100%;
        flex-wrap: wrap;
        white-space: wrap;
    } */

    .services__img--icon-4 {
        display: none;
    }

    .services__img--icon-6 {
        margin-left: -100%;
        margin-bottom: -55px;
    }

    .services__img--icon-2 {
        display: none;
    }

    .pricing__discount {
        display: none;
    }
}

/* ======[TABLET]======= */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .header__btn {
        padding: 14px 32px;
    }

    .hero__info--title {
        font-size: 5.5rem;
    }

    .staff__list {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    .staff__item--img-wrap {
        width: 100%;
        justify-content: center;
    }

    .staff__item--img-wrap-1 {
        display: flex;
        margin-left: 0px;
    }

    .staff__item--img-wrap-4 {
        justify-content: center;
        margin-right: 0px;
    }

    .staff__item--desc-1 {
        margin-left: 0px;
    }

    .staff__item--name-1 {
        margin-left: 0px;
    }

    .pricing__list {
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
    }
}

/* ======[MOBILE]======= */
@media screen and (max-width: 767.98px) {
    .hero {
        padding-bottom: 50px;
    }
    .header__btn {
        padding: 12px 13px;
    }

    .hero__info--title {
        font-size: 5rem;
    }

    .hero__images {
        width: 100%;
        padding-top: 50px;
    }

    .hero__dog {
        display: none;
    }

    .hero__cat {
        width: 100%;
    }

    .hero__images--info {
        display: none;
    }

    .hero__spin-circle {
        bottom: 328px;
        left: 0px;
    }

    .about__info--desc {
        width: 81.5%;
    }

    .about__img-wrapper,
    .about__images,
    .about__img {
        width: 100%;
    }

    .servicesB__inner--body {
        margin-top: 71px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .servicesB__inner--body-left,
    .servicesB__inner--body-center,
    .servicesB__inner--body-right {
        grid-column: 1;
    }

    .servicesB__inner--item-box {
        width: 100%;
        margin: auto;
    }

    .servicesB__inner--body-right .servicesB__inner--list {
        margin-top: 50px;
    }

    .staff__list {
        grid-template-columns: 1fr;
    }

    .staff__item--img-wrap {
        width: 100%;
        justify-content: center;
    }

    .staff__item--img-wrap-1 {
        display: flex;
        margin-left: 0px;
    }

    .staff__item--img-wrap-4 {
        justify-content: center;
        margin-right: 0px;
    }

    .staff__item--desc-1 {
        margin-left: 0px;
    }

    .staff__item--name-1 {
        margin-left: 0px;
    }

    .staff__item + .staff__item {
        margin-top: 60px;
    }

    .pricing__list {
        justify-content: center;
        flex-wrap: wrap;
    }

    .pricing__item {
        width: 100%;
    }

    .pricing__item--atc,
    .pricing__item--price,
    .pricing__item--sub-title,
    .pricing__item--title {
        text-align: center;
    }

    .pricing__item--atc {
        display: block;
    }

    .services__info--desc {
        width: 100%;
        flex-wrap: wrap;
    }

    .services__info--row {
        display: none;
    }

    .services__images--wrap,
    .services__img,
    .services__images {
        width: 100%;
        height: auto;
    }
}
