/* ===[HỖ TRỢ CSS VÀ KÍCH THƯỚC FONT CHỮ ĐỒNG BỘ VỀ REM]=== */
* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
    --second-color: #ff5b2e;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #fffaf5;
    font-family: "Poppins", sans-serif;
}

/* ===[ANIMATION]=== */
@keyframes hover-btn {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes swingingY {
    /* 0% {
        translate: 0;
    } */
    50% {
        translate: 0 -15px;
    }
    75% {
        translate: 0 15px;
    }
    100% {
        translate: 0px;
    }
}

@keyframes shaking {
    0% {
        rotate: 0;
    }
    50% {
        rotate: 2deg;
    }
    75% {
        rotate: -2deg;
    }
    100% {
        rotate: 0;
    }
}

@keyframes changeColor {
    0% {
        background: #fe997b;
    }
    50% {
        background: #faa7ad;
    }
    100% {
        background: #fe997b;
    }
}

@keyframes hoverZoom {
    0% {
        scale: 1;
        z-index: 0;
    }
    50% {
        scale: 1.02;
        z-index: 1;
    }
    100% {
        scale: 1;
        z-index: 0;
    }
}

@keyframes showHidden {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* ===[COMMON]=== */
.container {
    width: 1170px;
    max-width: calc(100% - 42px);
    margin: 0 auto;
}

.servicesB__inner--item-view,
.services__info--item,
.services__info--row,
.about__images--box-info,
.about__info--row,
.hero__atc-box,
.hero__atc,
.hero__images--row,
.navbar__list,
.header__wrapper {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    color: var(--second-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 16px; /* 100% */
    border-radius: 31px;
    border: 1px solid currentColor;
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    padding: 20px 40px;
    white-space: nowrap;
}

/* ==========[HEADER]========== */
.header {
    padding-top: 26px;
}

.navbar {
    margin-left: 211px;
}

.navbar__link {
    display: inline-block;
    text-align: center;
    padding: 8px 18px;
    white-space: nowrap;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    transition: scale 0.3s;
}

.navbar__link::before {
    display: block;
    content: attr(title);
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.navbar__link:hover {
    color: var(--primary-color);
    font-weight: 600;
    scale: 1.15;
}

.header__btn {
    position: relative;
    margin-left: auto;
    padding: 18px 32px;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    border-radius: 999px;
    border: 1px solid currentColor;
    opacity: 0.7;
    overflow: hidden;
}

.header__btn--text {
    position: relative;
    z-index: 1;
}

.header__btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    border-radius: 999px;
    background: var(--second-color);
    transition: width 0.49s;
}

.header__btn:hover::before {
    left: 0;
    width: 100%;
}

.header__btn:hover {
    color: #fff;
    font-weight: 600;
    border: 1px solid var(--second-color);
}

/* ==========[HERO]========== */
.hero {
    padding-top: 100px;
    z-index: -5;
}

.container-hero {
    padding: 0px calc((100% - 1170px) / 2);
    /* max-width: 100%; */
    z-index: 1;
}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.hero__images {
    position: relative;
    z-index: 3;
}

.hero__cat {
    display: inline-block;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
    width: 388px;
    height: 488px;
    overflow: hidden;
    animation-fill-mode: forwards;
}

.hero__cat:hover {
    animation: hoverZoom 0.7s forwards;
}

.hero__cat--img {
    width: 388px;
    height: auto;
    object-fit: cover;
    animation: changeColor 5s linear infinite;
    animation: shaking 5s linear infinite;
}

.hero__spin-circle {
    position: absolute;
    bottom: 173px;
    left: -57px;
    z-index: -1;
    animation: spin 5s linear infinite;
}

.hero__vector-net {
    position: absolute;
    top: 18px;
    left: 376px;
    z-index: -1;
    animation: swingingY 2s ease infinite;
}

.hero__dog {
    translate: -23px 58px;
    display: inline-block;
    border-radius: 16px;
    background: #faa7ad;
    border: 2px solid #ffe5e7;
    overflow: hidden;
    width: 186px;
    height: 244px;
    animation: changeColor 5s linear infinite;
    animation-delay: 2s;
}

.hero__dog--img {
    transform: translateY(30px);
    width: 182px;
    height: auto;
    object-fit: cover;
    animation: shaking 5s linear infinite;
    animation-delay: 2s;
}

.hero__images--info {
    translate: 129px -62px;
    padding: 18px 14px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__images--small {
    width: 38.152px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 9px;
}

.hero__images--small-1 {
    background: #fec23f;
}

.hero__images--small-2 {
    background: #c6e2fa;
}

.hero__images--text {
    position: relative;
    color: #181e52;
    font-family: "Sora", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__images--desc-long,
.hero__images--desc-short {
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
    height: 4px;
}

.hero__images--desc-long {
    width: 118px;
    margin-top: 7px;
}

.hero__images--desc-short {
    width: 39px;
    margin-top: 6px;
    border-radius: 999px;
}

.hero__images--line {
    width: 222px;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Hero__info */
.hero__info {
    width: 517px;
    max-width: 100%;
    margin-top: 71px;
}

.hero__info--title {
    color: var(--primary-color);
    font-family: "Sora", sans-serif;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.152;
}
.hero__info--desc {
    width: 391px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.875;
    margin-top: 24px;
}

.hero__atc {
    margin-top: 38px;
}

.hero__atc-box {
    justify-content: center;
    width: 189px;
    height: 60px;
    border-radius: 31px;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__atc--btn {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    white-space: nowrap;
}

.hero__atc--icon {
    border-radius: 50%;
    background: #fff;
    padding: 7px 7.5px;
    margin-left: 10px;
    box-shadow: 22px 24px 27px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.hero__atc--call {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
    margin-left: 24px;
}

.hero__atc-box:hover {
    animation: hover-btn 0.9s both;
}

/* ==========[ABOUT]========== */
.about {
    margin: 53px 0;
    height: 549px;
}

.about__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.about__info {
    padding-right: 108px;
}

.about__info--sub-title pre {
    color: #5e6085;
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__info--title {
    color: var(--primary-color);
    font-family: "Sora", sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 15px;
}

.about__info--desc {
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.875;
    margin-top: 24px;
}

.about__info--featured {
    margin-top: 54px;
}

.about__info--row:last-child {
    margin-top: 34px;
}

.about_info--topic {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about_info--topic:first-of-type,
.about_info--topic:last-of-type {
    width: 50%;
}

.about__info--box-icon {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #ff5d31;
    margin-right: 10px;
}

.about__info--icon {
    display: flex;
    transform: translateY(4px);
    margin: auto;
}

.about__images {
    width: auto;
    max-width: 100%;
    height: 549px;
    display: flex;
    align-items: flex-end;
}

.about__img-wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    margin-left: -44px;
}

.about__img--deco {
    position: absolute;
    top: -75px;
    right: -46px;
    z-index: -1;
}

.about__img {
    width: auto;
    height: 549px;
    object-fit: cover;
}

.about__images--box-info {
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    padding: 0 26px;
    margin-bottom: 238px;
    z-index: 1;
}

.about__images--deco {
    position: absolute;
    top: -38px;
    right: -31px;
    animation: showHidden 6.5s linear infinite;
}

.about__images--box-text-1 {
    color: #fff;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__images--box-text-2 {
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.43;
    margin-top: 14px;
}

/* ==========[SERVICES A]========== */
.services {
    margin-top: 77px;
    height: auto;
}

.services__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.services__images--wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 458px;
    height: 500px;
    border: 2px solid #fff;
    border-radius: 18px;
    background: linear-gradient(to top, #95c1ea, #c5e1f9);
}

.services__img {
    width: 100%;
    /* height: 525px; */
    border-radius: 18px;
    object-fit: cover;
    box-shadow: 0px 3px 63px 0px rgba(153, 183, 208, 0.59);
}

.services__img--icon-1,
.services__img--icon-2,
.services__img--icon-3,
.services__img--icon-4,
.services__img--icon-5 {
    position: absolute;
}

.services__img--icon-6 {
    margin-left: -74px;
    margin-bottom: -55px;
}

.services__img--icon-1 {
    top: -13px;
    right: 9px;
}

.services__img--icon-2 {
    top: 35px;
    right: -22px;
}

.services__img--icon-3 {
    top: 7px;
    right: 66px;
}

.services__img--icon-4 {
    top: 260px;
    right: -36px;
}

.services__img--icon-5 {
    top: 333px;
    right: 16px;
}

.services__info--title {
    color: #000958;
    font-family: "Sora", sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.services__info--desc {
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.875;
    margin-top: 24px;
}

.services__info--row {
    justify-content: space-between;
    margin-top: 52px;
    margin-left: -8px;
}

.services__info--icon {
    margin-right: 11px;
}

.services__info--desc-2 {
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.72;
    margin-top: 36px;
}

.services__info--view-all {
    display: inline-block;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    margin-top: 32px;
}

.services__info--view-all::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 1.5px;
    background: #ff5d31;
    border-radius: 99px;
    margin-top: -15px;
    transform: translateY(-8px);
}

.services__info--text {
    color: #48496a;
    font-family: "Sora", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

/* ==========[SERVICES B]========== */
.servicesB {
    margin-top: 130px;
    background: #fff6ed;
    padding: 68px 0 100px;
}

.servicesB__inner--heading {
    grid-column: 1/4;
    font-family: "Sora", sans-serif;
}

.servicesB__inner--sub-title {
    color: #5e6085;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.servicesB__inner--title {
    color: #000958;
    text-align: center;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 15px;
}

.servicesB__inner--body {
    margin-top: 71px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 447px 1fr;
}

.servicesB__inner--item-box {
    width: 294px;
    height: 208px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    padding: 30px 22px 30px 28px;
}

.servicesB__inner--item-title {
    position: relative;
    color: #000958;
    font-family: "Sora", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 12px;
}

.servicesB__inner--item-title::before {
    position: absolute;
    top: -2px;
    left: -12px;
    display: inline-block;
    content: "";
    width: 2px;
    height: 22px;
    border-radius: 99px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.servicesB__inner--item-desc {
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.72;
    margin-top: 18px;
}

.servicesB__inner--item-view {
    margin-top: 24px;
}

.servicesB__inner--item-link {
    color: #34396a;
    font-family: "Sora", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-right: 6px;
}

.servicesB__inner--item + .servicesB__inner--item {
    margin-top: 24px;
}

.servicesB__inner--body-right {
    grid-column: 3 / 4;
}

.servicesB__inner--body-right .servicesB__inner--item {
    display: flex;
    justify-content: right;
}

.servicesB__inner--item:hover {
    animation: hoverZoom 0.5s linear;
}

.servicesB__inner--item:hover .servicesB__inner--item-box {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.servicesB__inner--body-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servicesB__inner--body-bg {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    margin-top: 260px;
}

.servicesB__inner--body-img {
    width: 447px;
    height: 621px;
}

.servicesB__inner--body-btn {
    margin-top: 45px;
}

.servicesB__inner--body-btn:hover {
    background: var(--second-color);
    color: #fff;
    border: 1px solid var(--second-color);
    opacity: 1;
    animation: hover-btn 0.9s both;
}
